<!-- <p id="notice"><%= notice %></p> -->

<p>
  <h2>Message: </h2>
  <%= @message.text %>
</p>
<br>
<h4>The message was destroyed. Consider copying it before exiting the page.</h4>

<!-- <%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %> -->
